body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    text-align: center;
    color: #ffffff;
    overflow-x: hidden;
}

main {
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    position: absolute;
    right: 2vw;
    top: 3.25vh;
    justify-content: right;
    gap: 1.5vw;
}

.menu-formatacao {
    list-style-type: none;
}

.menu-formatacao-item-ativo {
    text-align: center;
    padding: 1vh 1vw;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: #36aa3f;
    border-bottom-width: 0.4vw;
}

.menu-formatacao-item {
    text-align: center;
    padding: 1vh 1vw;
    text-decoration: none;
}

ul#menu-navegacao li a:hover {
    background-color: #36aa3f;
}

.icone-ironhide {
    display: flex;
    position: absolute;
    left: 2vh;
    top: 3.5vh;
}

.escudo {
    margin-top: -4vh;
    margin-right: -0.5vw;
}

.numero-da-equipe {
    color: #36aa3f;
}

.equipe {
    width: 100%;
}

.conteudo-principal {
    justify-items: center;
    text-align: justify;
    font-size: 90%;
    margin-top: -10vh;
    margin-bottom: 10vh;
}

.texto-informacional {
    justify-items: center;
    font-size: 120%;
    width: 90vw;
    margin-bottom: 10vh;
}

.texto-informacional p {
    margin-bottom: 1.5vh;
}

.texto-informacional h1 {
    margin-bottom: 2.5vh;
}

.conteudo {
    background-color: #ffffff;
    color: black;
    width: 75vw;
    display: flex;
    padding: 2.5vh 0 0 1.25vw;
    border-radius: 15px;
    margin: auto;
    font-size: 110%;
}

.conteudo .conheca-a-ftc {
    justify-items: center;
}

.conteudo .pergunta {
    margin-bottom: 2vh;
}

.conteudo .desafio2 {
    justify-items: center;
}

.conteudo iframe {
    scale: 80%;
}

.back-green {
    width: 100%;
    margin-bottom: -12.5vh;
}

.sobre-a-equipe {
    background-color: #36aa3f;
    display: flex;
    font-size: 120%;
    width: 100vw;
    margin: auto;
    gap: 5vw;
    padding: 5vw;
}

.sobre-a-equipe img {
    border-radius: 10px;
}

.texto-equipe {
    justify-items: center;
}

.texto-equipe h1 {
    margin-bottom: 5vh;
}

.projetos-back {
    background-color: #36aa3f;
}

.projetos {
    display: flex;
    background-color: #ffffff;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 5vh;
    border-radius: 15px;
    width: 55vw;
    margin: auto;
}

.projetos a {
    text-decoration: none;
}

.conheca-o-projeto {
    justify-items: center;
}

.conheca-o-projeto .c {
    margin-bottom: 2vh;
}

.confira-aqui {
    background-color: #36aa3f;
    padding: 15px;
    text-align: center;
    width: 12.5vw;
    border-radius: 50px;
    font-size: 60%;
    cursor: pointer;
    margin: auto;
}

.confira-aqui:hover {
    transform: scale(1.05);
}

.contatos-da-equipe {
    background-color: #36aa3f;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    display: flex;
    margin-top: -10vh;
}