body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    text-align: center;
    color: #ffffff;
    overflow-x: hidden;
}

main {
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    position: absolute;
    right: 20px;
    top: 25px;
    justify-content: right;
    gap: 35px;
}

.menu-formatacao {
    list-style-type: none;
}

.menu-formatacao-item-ativo {
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: #36aa3f;
    border-bottom-width: 5px;
}

.menu-formatacao-item {
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

ul#menu-navegacao li a:hover {
    background-color: #36aa3f;
}

.icone-ironhide {
    display: flex;
    position: absolute;
    left: 25px;
    top: 30px;
}

.escudo {
    margin-top: -28px;
    margin-right: -10px;
}

.numero-da-equipe {
    color: #36aa3f;
}

.equipe {
    width: 100%;
}

.conteudo-principal {
    justify-items: center;
    text-align: justify;
    font-size: 90%;
    margin-top: -10vh;
    margin-bottom: 10vh;
}

.texto-informacional {
    justify-items: center;
    font-size: 120%;
    width: 90vw;
    margin-bottom: 10vh;
}

.texto-informacional p {
    margin-bottom: 15px;
}

.texto-informacional h1 {
    margin-bottom: 2.5vh;
}

.conteudo {
    background-color: #ffffff;
    color: black;
    width: 73%;
    display: flex;
    padding: 25px 0 0 25px;
    border-radius: 15px;
    margin: auto;
}

.conteudo .conheca-a-ftc {
    justify-items: center;
}

.conteudo .pergunta {
    margin-bottom: 25px;
}

.conteudo .desafio {
    justify-items: center;
}

.conteudo iframe {
    scale: 80%;
}

.back-green {
    width: 100%;
    margin-bottom: -12.5vh;
}

.sobre-a-equipe {
    background-color: #36aa3f;
    display: flex;
    font-size: 120%;
    width: 100vw;
    margin: auto;
    gap: 5vw;
    padding: 5vw;
}

.sobre-a-equipe img {
    border-radius: 10px;
}

.texto-equipe {
    justify-items: center;
}

.texto-equipe h1 {
    margin-bottom: 5vh;
}

.projeto-fundo {
    background-color: #36aa3f;
}

.projeto-social {
    display: flex;
    background-color: #ffffff;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 50px;
    border-radius: 15px;
    width: 73%;
    margin: auto;
}

.projeto-social a {
    text-decoration: none;
}

.conheca-o-projeto {
    justify-items: center;
}

.conheca-o-projeto .c {
    margin-bottom: 2vh;
}

.confira-aqui {
    background-color: #36aa3f;
    padding: 15px;
    text-align: center;
    width: 200px;
    border-radius: 50px;
    font-size: 60%;
    cursor: pointer;
    margin: auto;
}

.confira-aqui:hover {
    transform: scale(1.05);
}

.contatos-da-equipe {
    background-color: #36aa3f;
    justify-content: center;
    align-items: center;
    gap: 25px;
    display: flex;
    margin-top: -10vh;
}