@media(max-width: 1180px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 5vw;
        top: 8vh;
        background-color: white;
        border-radius: 10px;
        opacity: 0;
        transform: translateY(-20px);
        animation: none;
        z-index: 1000;
    }

    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slideOut {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

    .menu a {
        color: black;
    }

    ul#menu-navegacao li a:hover {
        background: none;
    }

    .menu-formatacao {
        padding: 10px;
    }

    .menu-formatacao-item-ativo {
        padding: 0 1vw;
    }

    .menu.show {
        display: flex;
        animation: slideIn 0.3s forwards;
    }

    .menu.hide {
        animation: slideOut 0.3s forwards;
    }

    .menu-toggle {
        display: block;
    }

    .corpo {
        flex-direction: column;
        align-items: center;
    }

    .p1 {
        flex-direction: column;
        align-items: center;
    }

    .p2 {
        align-items: center;
    }

    .imagens1 {
        flex-direction: column;
    }

    .imagens1 img {
        width: 80%;
        height: 80%;
    }

    .imagens2 {
        flex-direction: column-reverse;
    }

    .imagens2 .img {
        width: 80%;
        height: 80%;
    }
}